/* Yokoso Anime */


/*-----------------------------------------------------------------------------------
>>> TABLE OF CONTENTS:
-------------------------------------------------------------------------------------

	1. Fonts and Text Sizing
	2. Header for all pages
	3. Navigation for all pages
	4. Home page
	5. Page 2: Events
	6. Page 3: MOCs
	7. Page 4: Reviews
	8. Page 5: Services
	9. Footer for all pages
    10. Other responsive features
    11. Report page

------------------------------------------------------------------------------------- */


/* 1. Fonts ------------------------------------------------------------------------- */

@font-face {
    font-family: "tie-wing";
    src: url("../fonts/TIE-Wing.ttf");
}

@font-face {
    font-family: "distantgalaxy";
    src: url("../fonts/SfDistantGalaxy-0l3d.ttf");
}

@font-face {
    font-family: "Righteous";
    src: url("../fonts/Righteous-Regular.ttf");
}

@font-face {
    font-family: "Audiowide";
    src: url("../fonts/Audiowide-Regular.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

/* Text sizing options -------------------------------------------------------------- */

.textSizing {
    text-align: center;
}

.small {
    font-size: 0.75em;
}

.normal {
    font-size: 1em;
}

.medium {
    font-size: 1.5em;
}

.large {
    font-size: 2em;
}

#smallA,
#normalA,
#mediumA,
#largeA {
    cursor: pointer;
}

.servicesTextSizing {
    text-align: center;
    border: 2px solid #2E67F8;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    margin-left: 45%;
    margin-right: 45%;
}


/* 2. Header logo for all pages ----------------------------------------------------- */

header {
    background-color: #15f2fd;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    height: 12vh;
}

header>#mainLogo {
    padding-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 100%;
    max-height: 100%;
}

.imageResponsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    max-width: 40%;
    max-height: 40%;
}


/* 3. Navigation to all five pages -------------------------------------------------- */

.navGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 25rem));
    grid-gap: 1rem;
    background-color: #2E67F844;
    padding: 5px;
}

.navGrid>div {
    background-color: #2E67F822;
    text-align: center;
}

.navGrid>div>a {
    text-decoration: none;
    font-family: 'tie-wing', sans-serif;
    font-size: calc(8px + 1.4vw);
    color: #2E67F8;
    font-weight: bold;
}

.navGrid>div>a:hover {
    background-color: rgb(255, 255, 255);
    text-decoration: underline overline rgba(255, 255, 255);
}


/* 4. Home Page --------------------------------------------------------------------- */


/* Main page titles ----------------------------------------------------------------- */

#introductionTitle {
    font-family: "distantgalaxy", cursive;
    text-align: center;
    font-size: calc(10px + 3vw);
    color: #EB212E;
    border-radius: 5px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.neon {
    text-shadow: 0 0 50px #15f2fd, 0 0 50px #15f2fd, 0 0 50px #15f2fd, 0 0 50px #15f2fd, 0 0 80px #15f2fd, 0 0 90px #15f2fd, 0 0 200px #15f2fd, 0 0 300px #15f2fd;
}

.introductionMain {
    margin-left: 10%;
    margin-right: 10%;
}

.introductionMain>h1 {
    font-family: 'distantgalaxy', sans-serif;
    text-align: center;
    overflow: hidden;
    font-size: calc(8px + 1.8vw);
    color: #2E67F8;
    background-color: #2E67F833;
    border-radius: 10px;
    padding: 10px;
    border: 5px solid #2E67F8;
}

.typewriter {
    display: inline-block;
    text-align: center;
}

.typewriter-text {
    font-family: 'distantgalaxy', monospace;
    display: inline-block;
    color: #2E67F8;
    overflow: hidden;
    letter-spacing: 5px;
    animation: typing 8s steps(38, end);
    /*, blink .75s step-end infinite; */
    white-space: nowrap;
    font-size: calc(8px + 1.4vw);
    font-weight: 700;
    /* box-sizing: border-box; */
}

@keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.mainPageGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 0px;
    border: 5px solid #2E67F8;
    border-radius: 2px;
}

.mainPageGridItem {
    padding: 20px;
    font-size: calc(8px + 1.4vw);
    grid-gap: 1rem;
}

.introductionSecondaryTitle {
    font-family: 'Righteous', sans-serif;
    font-size: calc(8px + 1.2vw);
    color: #2E67F8;
    text-align: left;
}

.introductionSecondaryText {
    font-family: 'Righteous', sans-serif;
    font-size: calc(8px + 1vw);
    color: #2E67F8;
    text-align: left;
}

.featuredMOC {
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: calc(10px + 2vw);
    color: #2E67F8;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

.featuredMOCLink {
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: calc(8px + 1vw);
    color: #2E67F8;
    text-decoration: none;
}

img.tp {
    transform-origin: 50% 50%;
    opacity: 0.2;
    width: 8vw;
    height: 8vw;
    border-radius: 1250px;
    animation: swing2 8s infinite linear alternate;
}

@keyframes swing2 {
    from {
        transform: rotate(2deg);
    }
    to {
        transform: rotate(18deg);
    }
}

img.tp:hover {
    opacity: 1;
    width: 10vw;
    height: 10vw;
}


/* 5. Page 2: Events ---------------------------------------------------------------- */

.eventsResponsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 60%;
    max-height: 60%;
}


/* 
.eventsContainer {
    position: relative;
    width: 50%;
    max-width: 300px;
} */

.eventsImageTitle {
    font-family: 'Righteous', sans-serif;
    font-size: calc(8px + 0.6vw);
    color: #2E67F8;
    text-align: center;
}

.thumbnail {
    max-height: 150px;
    max-width: 100%;
    vertical-align: middle;
    box-sizing: border-box;
    margin-bottom: 10px;
    opacity: 0.2;
}


/* 
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
} */

.thumbnail:hover {
    opacity: 1.0;
}

.large-img {
    max-width: 100%;
    max-height: 100rem;
    margin-top: 10px;
    vertical-align: middle;
    margin-left: 2em;
    margin-right: 2em;
    box-sizing: border-box;
}

.eventsPageGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 1rem;
    padding: 0px;
    border: 5px solid #2E67F8;
    border-radius: 2px;
}

.eventsPageGridItem {
    padding: 20px;
    font-size: calc(8px + 1.4vw);
    grid-gap: 1rem;
    margin-left: 1rem;
}

.eventsTitle {
    font-family: 'Righteous', sans-serif;
    font-size: calc(8px + 0.8vw);
    color: #2E67F8;
    text-align: left;
}

.eventsText {
    font-family: 'Righteous', sans-serif;
    font-size: calc(8px + 0.6vw);
    color: #2E67F8;
    text-align: left;
    list-style-type: none;
}


/* 6. Page 3: MOCs ------------------------------------------------------------------ */

.mocResponsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 60%;
    max-height: 60%;
}

.galleryH1 {
    font-size: calc(8px + 2vw);
    font-family: Audiowide, sans-serif;
    text-align: center;
    margin-bottom: 1rem;
    color: #2E67F8;
    text-align: center;
}

main.gallery {
    padding: 2rem;
}

.gallery>.gallery__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: repeat(8, 400px);
    grid-gap: 4rem;
    grid-auto-flow: dense;
    list-style-type: none;
    padding-left: 0em;
}

.gallery>.gallery__list>li>figure {
    height: 100%;
}

.gallery>.gallery__list>li>h3 {
    font-family: 'distantgalaxy', sans-serif;
    font-size: calc(8px + 1vw);
    color: #2a504b;
    margin: 0px;
}

.gallery>.gallery__list>li>figure>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.2;
    padding-bottom: 1em;
    margin-bottom: 5px;
}

.gallery>.gallery__list>li>figure>img:hover {
    opacity: 1.0;
    transition: transform .75s;
    transition-delay: 1s;
    transform: scale(1.5);
    width: 100%;
    height: 100%;
    margin: 1em;
}

.gallery>.gallery__list>li>figure>img::after {
    bottom: 0;
    content: attr(title);
    display: block;
}


/* Mobile --------------------------------------------------------------------------- */

@media only screen and (max-width: 1500px) {
    .gallery>.gallery__list>li>h3 {
        display: none;
    }
}


/* Desktop -------------------------------------------------------------------------- */

@media only screen and (min-width: 1500px) {
    .gallery>.gallery__list>li:nth-child(2n) {
        grid-column: span 2;
        grid-row: span 2;
        list-style-type: none;
    }
    /* .gallery>.gallery__list>li:nth-child(4n) {
        grid-column: span 2;
        grid-row: span 2;
        list-style-type: none;
    } */
    .gallery>.gallery__list>li:nth-child(7n) {
        grid-column: span 3;
        grid-row: span 3;
        list-style-type: none;
    }
    .gallery>.gallery__list>li>h3 {
        font-family: 'distantgalaxy', sans-serif;
        font-size: calc(6px + 0.4vw);
        color: #2a504b;
        margin-top: 5px;
    }
}


/* 7. Page 4: Reviews --------------------------------------------------------------- */

.reviewsPageGridTop {
    /* ----- reviews page grid section ---------------------------------------------- */
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0.2rem;
    row-gap: 0.2rem;
    padding: 0px;
    border: 5px solid #2E67F8;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    margin-bottom: 2rem;
}

.reviewsPageGridBottom {
    /* ----- reviews page grid section ---------------------------------------------- */
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0.2rem;
    row-gap: 0.2rem;
    padding: 0px;
    border: 5px solid #2E67F8;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    margin-bottom: 2rem;
}

.reviewsPageGridLeft {
    /* ----- reviews page grid section ---------------------------------------------- */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4rem, 20rem));
    gap: 0.2rem;
    row-gap: 0.2rem;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    margin-bottom: 2rem;
}

.reviewsPageGridRight {
    /* ----- reviews page grid section ---------------------------------------------- */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4rem, 20rem));
    gap: 0.2rem;
    row-gap: 0.2rem;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    margin-bottom: 2rem;
}

.reviewsPageGridTitle {
    padding: 20px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    background-color: #2E67F822;
}

.reviewsPageGridVideo {
    padding: 20px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    align-items: center;
    border: 2px solid black;
}

.reviewsPageGridText {
    padding: 20px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
    background-color: #2E67F844;
}

.reviewsTitle {
    font-family: 'Righteous', sans-serif;
    font-size: calc(8px + 1.2vw);
    color: #2E67F8;
    text-align: center;
}

.reviewsText {
    font-family: 'Righteous', sans-serif;
    font-size: calc(8px + 0.4vw);
    color: #2E67F8;
    text-align: left;
    margin-left: 0.5rem;
}

.iframe-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.iframe-wrapper>iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}


/* .iframe-wrapper>iframe {
    display: inline-block;
    width: 100%;
    height: 100%;
} */


/* 8. Page 5: Services -------------------------------------------------------------- */

.servicesBackground {
    /* ----- background image ------------------------------------- */
    background-image: url("../img/main/services.png");
    background-position: center;
    min-height: 900px;
    background-size: 200px 200px;
    padding: 1em;
}

input {
    border: 2px solid black;
}

input:focus {
    background-color: #15f2fd;
}

input[type='radio'] {
    transform: scale(2);
}

input[type='email'] {
    height: 30px;
    width: 300px;
    float: right;
}

input[type='text'] {
    height: 30px;
    width: 300px;
    float: right;
}

input[type='password'] {
    height: 30px;
    width: 300px;
    float: right;
}

input[type='submit'] {
    height: 30px;
    width: 200px;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#nick {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px;
    display: none;
    width: 20%;
}

#verify {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 10px;
    padding: 1px;
}

.servicesPageGrid {
    /* ----- forms entry grid section ------------------------------- */
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 0.5rem;
    padding: 0px;
    border: 5px solid #2E67F8;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    margin-bottom: 2rem;
}

.servicesPageGridItem {
    padding: 20px;
    font-size: calc(8px + 1.4vw);
    font-size: calc(8px + 1.4vw);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.servicesTitle {
    font-family: 'Righteous', sans-serif;
    font-size: calc(8px + 1.2vw);
    color: #2E67F8;
    text-align: left;
}

.servicesText {
    font-family: 'Righteous', sans-serif;
    font-size: calc(8px + 0.4vw);
    color: #2E67F8;
    text-align: left;
    margin-left: 0.5rem;
}

#LEGOStarWarsReviews {
    font-family: 'Righteous', sans-serif;
    font-size: calc(8px + 0.4vw);
    color: #2E67F8;
    text-align: left;
}

.servicesFormsGrid {
    /* ----- forms display grid section ---------------------------- */
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-rows: auto auto;
    gap: 0.5rem;
    padding: 0px;
    border: 5px solid #2E67F8;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    margin-bottom: 2rem;
    margin-left: 10%;
    margin-right: 10%;
}

.servicesFormsGridItem {
    padding: 20px;
    font-size: calc(8px + 1.4vw);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.servicesFormsTitle {
    font-family: 'Righteous', sans-serif;
    font-size: calc(8px + 1.2vw);
    color: #2E67F8;
    text-align: left;
}

.servicesFormsText {
    font-family: 'Righteous', sans-serif;
    font-size: calc(8px + 1vw);
    color: #2E67F8;
    text-align: left;
    margin-left: 0.5rem;
}

.clubDetailsGrid {
    /* ----- clud details grid section ------------------------------- */
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 0.5rem;
    padding: 0px;
    border: 5px solid #2E67F8;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}

.clubDetailsGridItem {
    padding: 5px;
    font-size: calc(8px + 1vw);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: #2E67F822;
}

.clubDetailsTitle {
    font-family: 'Righteous', sans-serif;
    font-size: calc(8px + 0.8vw);
    color: #2E67F8;
    text-align: left;
    padding-bottom: 10px;
}

.clubDetailsTextMain {
    font-family: 'Righteous', sans-serif;
    font-size: calc(8px + 0.6vw);
    color: #2E67F8;
    text-align: left;
    padding-bottom: 10px;
    margin-left: 0.5rem;
}

.clubDetailsTextSecondary {
    font-family: 'Righteous', sans-serif;
    font-size: calc(8px + 0.4vw);
    color: #2E67F8;
    text-align: left;
    padding-bottom: 5px;
    margin-left: 0.5rem;
}


/* 9. Footer */

.footerLink {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4rem, 20rem));
    grid-gap: 1rem;
    border-width: 0px;
    background-color: #2E67F844;
    color: #2E67F8;
    font-family: 'tie-wing', sans-serif;
    font-size: calc(8px + 0.8vw);
    font-weight: bold;
    text-align: left;
    padding: 1px 1px;
    text-decoration: none;
}

.footerLink>a:hover {
    background-color: rgb(255, 255, 255);
    ;
}


/* 10. Responsive */

@media screen and (max-width: 1000px) {
    li>a {
        padding: 4px 50px;
    }
}

@media screen and (max-width: 900px) {
    li>a {
        padding: 4px 46px;
    }
}

@media screen and (max-width: 800px) {
    li>a {
        padding: 4px 42px;
    }
}

@media screen and (max-width: 700px) {
    li>a {
        padding: 4px 38px;
    }
}

@media screen and (max-width: 600px) {
    li>a {
        padding: 3.6px 34px;
    }
}

@media screen and (max-width: 500px) {
    li>a {
        padding: 3.6px 30px;
    }
}

@media screen and (max-width: 400px) {
    li>a {
        padding: 3.2px 26px;
    }
}

@media screen and (max-width: 300px) {
    li>a {
        padding: 3.2px 22px;
    }
}

@media screen and (max-width: 200px) {
    li>a {
        padding: 2.8px 18px;
    }
}

@media screen and (max-width: 100px) {
    li>a {
        padding: 2.8px 14px;
    }
}


/* 11. Report */

.reportText {
    font-family: 'Roboto', sans-serif;
    font-size: calc(8px + 0.6vw);
    color: #2a504b;
}