/* Yokoso Anime */


/*-----------------------------------------------------------------------------------
>>> TABLE OF CONTENTS:
-------------------------------------------------------------------------------------

	1. Fonts and Text Sizing
	2. Header for all pages
	3. Navigation for all pages
	4. Home page
	5. Page 2: Events
	6. Page 3: MOCs
	7. Page 4: Reviews
	8. Page 5: Services
	9. Footer for all pages
    10. Other responsive features
    11. Report page

------------------------------------------------------------------------------------- */


/* 1. Fonts ------------------------------------------------------------------------- */

@font-face {
    font-family: "tie-wing";
    src: url("../fonts/TIE-Wing.ttf");
}

@font-face {
    font-family: "distantgalaxy";
    src: url("../fonts/SfDistantGalaxy-0l3d.ttf");
}

@font-face {
    font-family: "Righteous";
    src: url("../fonts/Righteous-Regular.ttf");
}

@font-face {
    font-family: "Audiowide";
    src: url("../fonts/Audiowide-Regular.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

/* Text sizing options -------------------------------------------------------------- */

.textSizing {
    text-align: center;
}

.small {
    font-size: 0.75em;
}

.normal {
    font-size: 1em;
}

.medium {
    font-size: 1.5em;
}

.large {
    font-size: 2em;
}

#smallA,
#normalA,
#mediumA,
#largeA {
    cursor: pointer;
}


/* 2. Header logo for all pages ----------------------------------------------------- */

header {
    background-color: #15f2fd;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    height: 12vh;
}

header>#mainLogo {
    padding-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 100%;
    max-height: 100%;
}

.imageResponsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    max-width: 40%;
    max-height: 40%;
}


/* 3. Navigation to all five pages -------------------------------------------------- */

.navGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 25rem));
    grid-gap: 1rem;
    background-color: #2E67F888;
    padding: 5px;
}

.navGrid>div {
    background-color: #2E67F888;
    text-align: center;
    padding: 5px;
    font-family: 'tie-wing', sans-serif;
    font-size: calc(8px + 1.6vw);
    color: #2E67F8;
    font-weight: bold;
}

.navGrid>div>a {
    text-decoration: none;
}

.navGrid>div>a:hover {
    background-color: rgb(255, 255, 255);
    text-decoration: underline overline rgba(255, 255, 255);
}


/* 4. Home Page --------------------------------------------------------------------- */


/* Main page titles ----------------------------------------------------------------- */

#introductionTitle {
    font-family: "distantgalaxy", cursive;
    text-align: center;
    font-size: calc(10px + 3vw);
    color: #EB212E;
    border-radius: 5px;
}

.neon {
    color: #15f2fd;
    text-shadow: 0 0 50px #15f2fd, 0 0 50px #15f2fd, 0 0 50px #15f2fd, 0 0 50px #15f2fd, 0 0 80px #15f2fd, 0 0 90px #15f2fd, 0 0 200px #15f2fd, 0 0 300px #15f2fd;
}

.introductionMain {
    margin-left: 10%;
    margin-right: 10%;
}

.introductionMain>h1 {
    font-family: 'distantgalaxy', sans-serif;
    text-align: center;
    overflow: hidden;
    font-size: calc(8px + 1.8vw);
    color: #2E67F8;
    background-color: #2E67F833;
    border-radius: 10px;
    padding: 10px;
    border: 5px solid #2E67F8;
}

.typewriter {
    display: inline-block;
    text-align: center;
}

.typewriter-text {
    font-family: 'distantgalaxy', monospace;
    display: inline-block;
    color: #2E67F8;
    overflow: hidden;
    letter-spacing: 5px;
    animation: typing 8s steps(38, end);
    /*, blink .75s step-end infinite; */
    white-space: nowrap;
    font-size: calc(8px + 1.4vw);
    font-weight: 700;
    /* box-sizing: border-box; */
}

@keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}


/* @keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange
    }
} */

.mainPageGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 25rem));
    padding: 10px;
    border: 5px solid #2E67F8;
    border-radius: 2px;
}

.introductionSecondary {
    font-family: 'Roboto', sans-serif;
    font-size: calc(8px + 1.2vw);
    color: #2E67F8;
    grid-gap: 1rem;
}

.featuredMOC {
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: calc(10px + 2vw);
    color: #2E67F8;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.featuredMOCLink {
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: calc(8px + 1vw);
    color: #2E67F8;
    text-decoration: none;
}


/* 5. Page 2: Events ---------------------------------------------------------------- */

.eventsResponsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 60%;
    max-height: 60%;
}

.thumbnail {
    max-height: 150px;
    max-width: 100%;
    vertical-align: middle;
    box-sizing: border-box;
    margin-bottom: 10px;
    opacity: 0.2;
}

.thumbnail:hover {
    opacity: 1.0;
}

.large-img {
    max-width: 100%;
    margin-top: 10px;
    vertical-align: middle;
    box-sizing: border-box;
}


/* 6. Page 3: MOCs ------------------------------------------------------------------ */

.mocResponsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 60%;
    max-height: 60%;
}

.galleryH1 {
    font-size: calc(8px + 2vw);
    font-family: Audiowide, sans-serif;
    text-align: center;
    margin-bottom: 1rem;
    color: #2E67F8;
    text-align: center;
}

main.gallery {
    padding: 2rem;
}

.gallery>.gallery__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: repeat(8, 400px);
    grid-gap: 3rem;
    grid-auto-flow: dense;
    list-style-type: none;
    padding-left: 0em;
}

.gallery>.gallery__list>li>figure {
    height: 100%;
}

.gallery>.gallery__list>li>h3 {
    font-family: 'distantgalaxy', sans-serif;
    font-size: calc(8px + 1vw);
    color: #2a504b;
    margin: 0px;
}

.gallery>.gallery__list>li>figure>img {
    width: 70%;
    height: 70%;
    object-fit: cover;
    opacity: 0.2;
    padding-bottom: 1em;
    margin-bottom: 5px;
}

.gallery>.gallery__list>li>figure>img:hover {
    opacity: 1.0;
    transition: transform .75s;
    transition-delay: 1s;
    transform: scale(2);
    margin: 2em;
}

.gallery>.gallery__list>li>figure>img::after {
    bottom: 0;
    content: attr(title);
    display: block;
}


/* Mobile --------------------------------------------------------------------------- */

@media only screen and (max-width: 1500px) {
    .gallery>.gallery__list>li>h3 {
        display: none;
    }
}


/* Desktop -------------------------------------------------------------------------- */

@media only screen and (min-width: 1500px) {
    .gallery>.gallery__list>li:nth-child(2n) {
        grid-column: span 2;
        grid-row: span 2;
        list-style-type: none;
    }
    .gallery>.gallery__list>li:nth-child(4n) {
        grid-column: span 3;
        grid-row: span 2;
        list-style-type: none;
    }
    .gallery>.gallery__list>li:nth-child(7n) {
        grid-column: span 4;
        grid-row: span 3;
        list-style-type: none;
    }
    .gallery>.gallery__list>li>h3 {
        font-family: 'distantgalaxy', sans-serif;
        font-size: calc(6px + 0.4vw);
        color: #2a504b;
        margin-top: 5px;
    }
}


/* 7. Page 4: Reviews --------------------------------------------------------------- */


/* 8. Page 5: Services -------------------------------------------------------------- */

.servicesBackground {
    background-image: url("../img/main/services.png");
    /* opacity: 0.4; */
    background-position: center;
    min-height: 1000px;
    background-size: 200px 200px;
    padding: 1em;
}

.textSizing {
    color: white;
    background-color: black;
}


/* 9. Footer */

.footerLink {
    display: grid;
    /* grid-template-columns: auto auto auto auto auto; */
    grid-template-columns: repeat(auto-fill, minmax(1rem, 15rem));
    grid-gap: 4px;
    border-width: 0px;
    background-color: rgba(24, 125, 207, 0.7);
    color: rgb(19, 54, 108);
    font-family: 'Roboto', sans-serif;
    font-size: calc(8px + 0.8vw);
    font-weight: bold;
    text-align: left;
    padding: 1px 1px;
    text-decoration: none;
}

.footerLink>a:hover {
    background-color: #61ad98aa;
}


/* 10. Responsive */

@media screen and (max-width: 1000px) {
    li>a {
        padding: 4px 50px;
    }
}

@media screen and (max-width: 900px) {
    li>a {
        padding: 4px 46px;
    }
}

@media screen and (max-width: 800px) {
    li>a {
        padding: 4px 42px;
    }
}

@media screen and (max-width: 700px) {
    li>a {
        padding: 4px 38px;
    }
}

@media screen and (max-width: 600px) {
    li>a {
        padding: 3.6px 34px;
    }
}

@media screen and (max-width: 500px) {
    li>a {
        padding: 3.6px 30px;
    }
}

@media screen and (max-width: 400px) {
    li>a {
        padding: 3.2px 26px;
    }
}

@media screen and (max-width: 300px) {
    li>a {
        padding: 3.2px 22px;
    }
}

@media screen and (max-width: 200px) {
    li>a {
        padding: 2.8px 18px;
    }
}

@media screen and (max-width: 100px) {
    li>a {
        padding: 2.8px 14px;
    }
}


/* 11. Report */

.reportText {
    font-family: 'Roboto', sans-serif;
    font-size: calc(8px + 0.6vw);
    color: #2a504b;
}